body {
  text-align: center;
  font-family: "Monda", sans-serif;
}

.container {
  background-image: url("../obrazy/dlaczego-niebo-jest-niebieskie.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  border: 1px solid black;
  width: 550px;
  padding: 2px;
  border-radius: 25px;
  margin-top: 20px;
}
.szukaj {
  font-size: 100%;
  border-radius: 50px;
  width: 300px;
  position: relative;
}
.myDiv {
  margin-top: 45px;
  margin-left: 85px;
  height: 40px;
  width: 150px;
  border: solid black 2px;
  border-radius: 20px;
  background-color: white;

  left: 100px;
  top: 30px;
}
.miasto {
  font-size: large;
  position: relative;
  top: 6px;
}
.klikaj {
  border-radius: 50px;
}
#f-wynik {
  color: black;
  opacity: 0.5;
}
#c-wynik {
  color: black;
  opacity: 0.5;
}
.wynik {
  border-radius: 30px;
  width: 100px;
  text-align: center;
  position: relative;
  left: 18px;
  margin: 30px;
}
.obecnatemp {
  position: relative;
  top: 40px;
  right: 40px;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.data {
  text-align: left;
  font-size: medium;
}
.wind {
  text-align: left;
  font-size: medium;
}
.air {
  text-align: left;
  font-size: medium;
}
.warunki {
  text-align: left;
  font-size: medium;
}
.weekday {
  text-align: center;
  color: white;
  position: relative;
  left: 70px;
  top: -100px;
  font-size: 16px;
}
.temp-min {
  opacity: 0.6;
  color: white;
}
.temp-max {
  color: aliceblue;
}
.cloud {
  font-size: 200%;
  position: relative;
  top: -105px;
  left: 20px;
}
#icon {
  width: 55px;
}
.temp {
  position: relative;
  top: -97px;
  left: -20px;
}

.stopka {
  text-align: center;
  font-size: small;
  position: relative;
  top: -74px;
  left: 7px;
}
.framedata {
  position: relative;
  text-align: left;

  box-shadow: 16px -3px 20px 7px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 10px;
  height: 180px;
  border-radius: 25px;
  top: -100px;
  margin-left: 80px;
}
#search-form {
  padding-top: 20px;
}
